.header-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}

.logo {
    width:80px;
    height:60px;
    border-radius: 80px;
    padding:2px
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
}  

.nav-items > ul > li {
    padding:5px;
}

.nav-items>ul>li:hover {
    text-decoration: underline;
}

.search {
    padding:10px;
}

.card {
    width: 200px;
    height: 250px;
    background-color: aliceblue;
    margin:2px;
}

.card:hover {
    border: 1px solid black;
}

.card-img  img {
    width:100%;
}

.details h4,h2 {
    margin: 1px;
}

.card-container {
    display: flex;
    flex-wrap:wrap;
}